bin/
Data/
Migrations/
obj/
ThesisManager.csproj.user
.vs/
*.db
*.suo
*.user
*.userosscache
*.sln.docstates
*.pdb
*.cache
*.log
*.ide
*.class
wwwroot/lib
ThesisManager/bin/Debug/net10.0/ThesisManager.deps.json
ThesisManager/bin/Debug/net10.0/ThesisManager.dll
ThesisManager/bin/Debug/net10.0/ThesisManager.pdb
ThesisManager/bin/Debug/net10.0/ThesisManager.staticwebassets.endpoints.json
ThesisManager/bin/Debug/net10.0/ThesisManager.staticwebassets.runtime.json
ThesisManager/obj/project.assets.json
ThesisManager/obj/project.nuget.cache
ThesisManager/obj/ThesisManager.csproj.nuget.dgspec.json
ThesisManager/obj/Debug/net10.0/rbcswa.dswa.cache.json
ThesisManager/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
ThesisManager/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
ThesisManager/obj/Debug/net10.0/rpswa.dswa.cache.json
ThesisManager/obj/Debug/net10.0/staticwebassets.build.endpoints.json
ThesisManager/obj/Debug/net10.0/staticwebassets.build.json
ThesisManager/obj/Debug/net10.0/staticwebassets.build.json.cache
ThesisManager/obj/Debug/net10.0/staticwebassets.development.json
ThesisManager/obj/Debug/net10.0/ThesisManager.AssemblyInfo.cs
ThesisManager/obj/Debug/net10.0/ThesisManager.AssemblyInfoInputs.cache
ThesisManager/obj/Debug/net10.0/ThesisManager.assets.cache
ThesisManager/obj/Debug/net10.0/ThesisManager.csproj.AssemblyReference.cache
ThesisManager/obj/Debug/net10.0/ThesisManager.csproj.CoreCompileInputs.cache
ThesisManager/obj/Debug/net10.0/ThesisManager.csproj.FileListAbsolute.txt
ThesisManager/obj/Debug/net10.0/ThesisManager.dll
ThesisManager/obj/Debug/net10.0/ThesisManager.GeneratedMSBuildEditorConfig.editorconfig
ThesisManager/obj/Debug/net10.0/ThesisManager.pdb
ThesisManager/obj/Debug/net10.0/ThesisManager.sourcelink.json
ThesisManager/obj/Debug/net10.0/compressed/ccx4od7jh5-{0}-o2gkn214hz-o2gkn214hz.gz
ThesisManager/obj/Debug/net10.0/compressed/f81gemee11-{0}-o2gkn214hz-o2gkn214hz.gz
ThesisManager/obj/Debug/net10.0/ref/ThesisManager.dll
ThesisManager/obj/Debug/net10.0/refint/ThesisManager.dll
ThesisManager/obj/Debug/net10.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
ThesisManager/obj/Debug/net10.0/scopedcss/bundle/ThesisManager.styles.css
ThesisManager/obj/Debug/net10.0/scopedcss/projectbundle/ThesisManager.bundle.scp.css
ThesisManager/bin/Debug/net10.0/ThesisManager.deps.json
ThesisManager/bin/Debug/net10.0/ThesisManager.dll
ThesisManager/bin/Debug/net10.0/ThesisManager.pdb
ThesisManager/bin/Debug/net10.0/ThesisManager.staticwebassets.endpoints.json
ThesisManager/bin/Debug/net10.0/ThesisManager.staticwebassets.runtime.json
ThesisManager/obj/project.assets.json
ThesisManager/obj/project.nuget.cache
ThesisManager/obj/ThesisManager.csproj.nuget.dgspec.json
ThesisManager/obj/Debug/net10.0/rbcswa.dswa.cache.json
ThesisManager/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
ThesisManager/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
ThesisManager/obj/Debug/net10.0/rpswa.dswa.cache.json
ThesisManager/obj/Debug/net10.0/staticwebassets.build.endpoints.json
ThesisManager/obj/Debug/net10.0/staticwebassets.build.json
ThesisManager/obj/Debug/net10.0/staticwebassets.build.json.cache
ThesisManager/obj/Debug/net10.0/staticwebassets.development.json
ThesisManager/obj/Debug/net10.0/ThesisManager.AssemblyInfo.cs
ThesisManager/obj/Debug/net10.0/ThesisManager.AssemblyInfoInputs.cache
ThesisManager/obj/Debug/net10.0/ThesisManager.assets.cache
ThesisManager/obj/Debug/net10.0/ThesisManager.csproj.AssemblyReference.cache
ThesisManager/obj/Debug/net10.0/ThesisManager.csproj.CoreCompileInputs.cache
ThesisManager/obj/Debug/net10.0/ThesisManager.csproj.FileListAbsolute.txt
ThesisManager/obj/Debug/net10.0/ThesisManager.dll
ThesisManager/obj/Debug/net10.0/ThesisManager.GeneratedMSBuildEditorConfig.editorconfig
ThesisManager/obj/Debug/net10.0/ThesisManager.pdb
ThesisManager/obj/Debug/net10.0/compressed/ccx4od7jh5-{0}-o2gkn214hz-o2gkn214hz.gz
ThesisManager/obj/Debug/net10.0/compressed/f81gemee11-{0}-o2gkn214hz-o2gkn214hz.gz
ThesisManager/obj/Debug/net10.0/ref/ThesisManager.dll
ThesisManager/obj/Debug/net10.0/refint/ThesisManager.dll
ThesisManager/obj/Debug/net10.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
ThesisManager/obj/Debug/net10.0/scopedcss/bundle/ThesisManager.styles.css
ThesisManager/obj/Debug/net10.0/scopedcss/projectbundle/ThesisManager.bundle.scp.css
ThesisManager/wwwroot/favicon.ico
ThesisManager/wwwroot/css/site.css
ThesisManager/wwwroot/js/site.js
ThesisManager/wwwroot/lib/bootstrap/LICENSE
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
ThesisManager/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.js
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
ThesisManager/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
ThesisManager/wwwroot/lib/jquery/LICENSE.txt
ThesisManager/wwwroot/lib/jquery/dist/jquery.js
ThesisManager/wwwroot/lib/jquery/dist/jquery.min.js
ThesisManager/wwwroot/lib/jquery/dist/jquery.min.map
ThesisManager/wwwroot/lib/jquery/dist/jquery.slim.js
ThesisManager/wwwroot/lib/jquery/dist/jquery.slim.min.js
ThesisManager/wwwroot/lib/jquery/dist/jquery.slim.min.map
ThesisManager/wwwroot/lib/jquery-validation/LICENSE.md
ThesisManager/wwwroot/lib/jquery-validation/dist/additional-methods.js
ThesisManager/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
ThesisManager/wwwroot/lib/jquery-validation/dist/jquery.validate.js
ThesisManager/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
ThesisManager/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
ThesisManager/wwwroot/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js
ThesisManager/wwwroot/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js
