@model ThesisManager.Models.Supervisor
@{ Layout = "_Layout"; }
<h2>Add Student Guide</h2>
<form method="post">
    <div class="mb-3"><label>الاسم</label><input class="form-control" asp-for="Name" /></div>
    <div class="mb-3"><label>الهاتف</label><input class="form-control" asp-for="Tel" /></div>
    <div class="mb-3"><label>البريد الاكتروني</label><input class="form-control" asp-for="Email" /></div>
    <button class="btn btn-primary">أنشأ</button>
</form>
